# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
.env*

# Virtual environments
venv/
.env/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Installer
install.sh

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Jupyter Notebooks
.ipynb_checkpoints/
